<!-- fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="top-bar" th:fragment="topbar">
  <img th:src="@{/img/topback.webp}" alt="博客背景" class="logo-img">
  <div class="label">
    <img th:src="@{/img/Polo-removebg-preview.png}" alt="菠萝" class="label-img">
    <h1>bolock</h1>
  </div>
  <div class="search-bar">
    <form th:action="@{/search/content}" method="get">
      <input type="text" name="keyword" placeholder="请输入关键词搜索文章内容" />
    </form>
  </div>
</div>
