<!-- fragments/sidebar.html -->

<!-- 左边栏 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<aside class="left-sidebar" th:fragment="left">
  <h3>导航</h3>
  <ul>
    <li><a onclick="loadfeed()">首页</a></li>
    <li><a href=\"#\">关注的人</a></li>
    <li><a onclick="loadfavorite()">收藏夹</a></li>
    <li><a onclick="loadProfile()">个人中心</a></li>
  </ul>
</aside>

<!-- 右边栏 -->
<aside class="right-sidebar" th:fragment="right">
  <h3>热门话题</h3>
  <ul>
    <li><a href=\"#\">话题 1</a></li>
    <li><a href=\"#\">话题 2</a></li>
    <li><a href=\"#\">话题 3</a></li>
    <li><a href=\"#\">话题 4</a></li>
    <li><a href=\"#\">话题 5</a></li>
  </ul>
</aside>
