/* 通用设置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
    background-image: url("../img/login-back.webp");
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* 登录卡片 */
.login-container {
    width: 100%;
    max-width: 420px;
    padding: 20px;
}

.login-box {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    padding: 32px;
}

/* 标签栏 */
.login-tabs {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    padding: 12px 0;
    text-align: center;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #666;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
}

.tab.active {
    color: #f45d48;
    border-bottom: 2px solid #f45d48;
    outline: none;
}

/* 表单部分 */
.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin-bottom: 16px;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: 0.5s ease;
}

.login-form input:focus {
    border-color: #f45d48;
    outline: none;
}

.login-form button {
    padding: 12px;
    background: #171515;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-form button:hover {
    background: rgba(230, 13, 111, 0.8);
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}

.checkbox-label span{
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 12px;
}

.options a {
    color: #888;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

/* 底部其他登录方式 */
.login-footer {
    margin-top: 24px;
    text-align: center;
    font-size: 13px;
    color: #999;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 8px;
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
    filter: grayscale(100%);
    transition: filter 0.2s;
}

.social-icons img:hover {
    filter: grayscale(0%);
}
