<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>Simple example - Editor.md examples</title>
    <link rel="stylesheet" th:href="@{/editor/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/editor/css/editormd.css}"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="layout">
    <header>
        <h1>Simple example</h1>
    </header>
    <form name="mdEditorForm">
        <input type="text" id="title" name="title" placeholder="请输入标题" style="width: 90%; margin: 10px 0; padding: 5px;" />
        <div id="test-editormd">
            <textarea name="content" id="text" style="display:none;"> </textarea>
        </div>
    </form>
</div>
<script th:src="@{/editor/js/jquery.min.js}"></script>
<script th:src="@{/editor/js/editormd.min.js}"></script>
<script type="text/javascript">
    var testEditor;
    $(function() {
        testEditor = editormd("test-editormd", {
            width: "90%",
            height: 640,
            syncScrolling: "single",
            emoji: true,
            path: "../editor/lib/",
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/articles/upload/image", // 你的后端上传接口
            /**下述为新增，上面一行记得加逗号结束*/
            /*指定需要显示的功能按钮*/
            toolbarIcons : function() {
                return [
                    "undo", "redo", "|",
                    "bold", "del", "italic", "quote", "ucwords", "uppercase", "lowercase", "|",
                    "h1", "h2", "h3", "h4", "h5", "h6", "|",
                    "list-ul", "list-ol", "hr", "|",
                    "link", "reference-link", "image", "code", "preformatted-text", "code-block", "table", "datetime", "emoji", "html-entities", "pagebreak", "|",
                    "goto-line", "watch", "preview", "fullscreen", "clear", "search", "|",
                    "releaseIcon", "saveDraft", "index"
                ];
            },

            /*自定义功能按钮，下面我自定义了2个，一个是发布，一个是返回首页*/
            toolbarIconTexts : {
                releaseIcon : "<span>发布</span>",
                saveDraft : "<span>保存草稿</span>",
                index : "<span>返回首页</span>"
            },

            /*给自定义按钮指定回调函数*/
            toolbarHandlers: {
                releaseIcon: function () {
                    contentCommit1(); // 发布
                },
                saveDraft: function () {
                    contentCommit0(); // 草稿
                },
                index: function () {
                    window.location.href = "/profile";
                }
            }
        });
    });
    /*提交表单的js*/
    function contentCommit1(){
        $('#content').val(testEditor.getMarkdown());
        mdEditorForm.method = "post";
        mdEditorForm.action = "articles/sure";//提交至服务器的路径
        mdEditorForm.submit();
    }
    function contentCommit0(){
        $('#content').val(testEditor.getMarkdown());
        mdEditorForm.method = "post";
        mdEditorForm.action = "articles/unsure";//提交至服务器的路径
        mdEditorForm.submit();
    }


</script>
</body>
</html>