<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>登录-bolock</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <script th:src="@{/js/uploadavatar.js}" defer></script>
    <link rel="icon" href="/img/Polo-removebg-preview.png" type="image/x-icon">
</head>
<body>
<div class="login-container">
    <div class="login-box">

        <div id="login-main">
            <div th:replace="~{fragments/login-login :: login-content}"></div>
        </div>

        <div class="login-footer">
            <span>--bolock--</span>
        </div>
    </div>
</div>
</body>
</html>
