<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.lanshan.Mapper.ArticleMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article(title, content, author_id, status, view_count, like_count, comment_count, created_at, updated_at)
        VALUES(#{title}, #{content}, #{author_id}, #{status}, #{view_count}, #{like_count}, #{comment_count}, NOW(), NOW())
    </insert>
    <update id="update">
        UPDATE article SET title=#{title}, content=#{content}, status=#{status}, updated_at=NOW() WHERE id=#{id}
    </update>
    <update id="softDelete">
        UPDATE article SET status=3, deleted_at=NOW() WHERE id=#{id}
    </update>
    <update id="updatasupport">
        update article
        set like_count = like_count + 1
        where id = #{article_id}
    </update>
    <delete id="delete">
        DELETE FROM article WHERE id=#{id}
    </delete>
    <select id="selectByAuthorIdandstatus" resultType="com.work.lanshan.Entety.Article">
        select
            a.*,
            u.username AS author_name,         -- 映射到 Article.author_name
            u.img AS author_avatar_img
        from
            article a
        JOIN
            users u ON a.author_id = u.id
        WHERE author_id = #{id} and status = #{status}
    </select>
    <select id="selectPublished" resultType="com.work.lanshan.Entety.Article">
        SELECT * FROM article WHERE status != 3 ORDER BY published_at DESC LIMIT #{offset}, #{limit}
    </select>
    <select id="selectById" resultType="com.work.lanshan.Entety.Article">
        select
            a.*,
            u.username AS author_name,         -- 映射到 Article.author_name
            u.img AS author_avatar_img
        from
            article a
        JOIN
            users u ON a.author_id = u.id
        where a.id =#{id}
    </select>
    <select id="selectAll" resultType="com.work.lanshan.Entety.Article">
        SELECT
            a.*,
            u.username AS author_name,         -- 映射到 Article.author_name
            u.img AS author_avatar_img         -- 映射到 Article.author_avatar_img
        FROM
            article a
        JOIN
            users u ON a.author_id = u.id
        WHERE
            a.status = #{status};

    </select>
    <select id="search" resultType="com.work.lanshan.Entety.Article">
        SELECT
            a.*,
            u.username AS author_name,         -- 映射到 Article.author_name
            u.img AS author_avatar_img
        FROM
            article a
        JOIN
             users u ON a.author_id = u.id
        WHERE status = 1 AND content LIKE CONCAT('%', #{keyword}, '%')
    </select>
    <select id="selectFollow" resultType="com.work.lanshan.Entety.Article">
        SELECT
            a.*,
            u.username AS author_name,         -- 映射到 Article.author_name
            u.img AS author_avatar_img
        FROM
            article a
        JOIN
            user_follow uf ON a.author_id = uf.followee_id
        JOIN
            users u ON a.author_id = u.id
        WHERE uf.follower_id = #{UserId} and a.status = 1

        ORDER BY a.id DESC;
    </select>

    <update id="updatacommentcount">
        UPDATE article
        SET comment_count = (
            SELECT COUNT(*)
            FROM comment
            WHERE comment.article_id = article.id
        )
        WHERE id = #{article_id};
    </update>
    <update id="setview">
        UPDATE article set view_count = view_count + 1 where id = #{id}
    </update>
    <update id="setstatus">
        update article
        set status = 1 where id = #{article_id}
    </update>
    <update id="setsatusnot">
        update article
        set status = 2 where id = #{article_id}
    </update>

</mapper>