<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.lanshan.Mapper.CommentMapper">
    <update id="updataSupport">
        update comment
        set support_count = support_count + 1
        where id = #{id}
    </update>

    <!-- 查文章的所有一级评论 -->
    <select id="findByArticleId" resultType="com.work.lanshan.Entety.Comment">
        SELECT c.*, u.username,u.img
        FROM comment c
        JOIN users u ON c.user_id = u.id
        WHERE c.article_id = #{articleId} AND c.parent_id IS NULL
        ORDER BY c.create_time ASC
    </select>

    <!-- 查某条评论的子评论 -->
    <select id="findRepliesByParentId" resultType="com.work.lanshan.Entety.Comment">
        SELECT c.*, u.username,u.img
        FROM comment c
        JOIN users u ON c.user_id = u.id
        WHERE c.parent_id = #{parentId}
        ORDER BY c.create_time ASC
    </select>

    <select id="findbyId" resultType="com.work.lanshan.Entety.Comment">
        select * from comment where id = #{id}
    </select>

    <insert id="insertComment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment(article_id, user_id, content, parent_id, reply_to_username, create_time,username,reply_parent_id,user_img,support_count)
        VALUES(#{article_id}, #{user_id}, #{content}, #{parent_id}, #{reply_to_username}, NOW(),#{username},#{reply_parent_id},#{user_img},#{support_count})
    </insert>

</mapper>
