<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.lanshan.Mapper.user_followMapper">
    <insert id="insertuser_follow">
        INSERT INTO user_follow (follower_id, followee_id)
        VALUES (#{follower_id}, #{followee_id});
    </insert>
    <delete id="deleteuser_follow">
        DELETE FROM user_follow
        WHERE follower_id = #{follower_id} AND followee_id = #{followee_id};
    </delete>
    <select id="isFollower" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM user_follow
        WHERE follower_id = #{follower_id} AND followee_id = #{followee_id}
    </select>
</mapper>